/*
from common 
*/
@import "./variable.less";
@fz-root:16px;
:root{
    --htmlBgColor:#f2f2f2;
    --mainBgColor:#fff;
}
html{
  
    font-size:@fz-root;
    background-color: var(--htmlBgColor);
}
/*
去掉标签浏览器自带的样式
*/
p{margin: 0;}

hr{}  


.bg-fff,bg-white{
    background-color: #ffffff;
}
.bg-red{background-color:red}
.color-fff,.color-white{color:white}

.child-grow>div{flex-grow: 1;}
.child-ml10>div:nth-of-type(n+2){
    margin-left: 10px;
}
.fullscreen{
    width: 100vw;height: 100vh;
}
.fullparent{
    width: 100%;;height: 100%;
}

.ml10{margin-left: 10px;}



/*布局方面*/
.flex{display: flex}
.flex-grow{
    display:flex;
    >div{flex-grow:1}
} 
.flex-center{
    display: flex;justify-content: center;align-items: center;
}
.flex-vcenter{display:flex;justify-content: center;}
